/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* Header Styles */
header {
    background-color: #333;
    color: white;
    padding: 0.5em 0;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

header h1 {
    margin: 0;
    font-size: 1.5em;
}

/* Main Content Styles */
.report-list {
    padding: 120px 20px 20px; /* Adjust padding to account for fixed header */
    margin-top: 60px; /* Ensure content starts below the fixed header */
}

.report-list h2 {
    margin-top: 0;
}

#reportList {
    list-style-type: none;
    padding: 0;
}

#reportList li {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Footer Styles */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
    font-size: 0.9em;
}
